# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.jar
.policy
.xmi
.xml
TPO.Cliente/bin/Inicio.class
TPO.Cliente/bin/Inicio.class
.metadata/.plugins/*
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.markers.snap
*.snap
*.index
*.resources
*.xmi
*.index
*.xmi
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
TPO.Server/src/Server/RMIServer.java
TPO.Server/src/hibernate.properties
TPO.Server/bin/Server/RMIServer.class
TPO.Server/bin/hibernate.properties
*.snap

