# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.jar
.policy
.xmi
.xml
TPO.Cliente/bin/Inicio.class
TPO.Cliente/bin/Inicio.class
.metadata/.plugins/org.eclipse.core.resources/.history/58/a050aa5aa36200141212a8f3fb118f40
.metadata/.plugins/org.eclipse.core.resources/.history/58/a050aa5aa36200141212a8f3fb118f40
.metadata/.plugins/org.eclipse.core.resources/.history/58/a050aa5aa36200141212a8f3fb118f40
.metadata/.plugins/org.eclipse.core.resources/.history/80/103a1a96a36200141212a8f3fb118f40
.metadata/.plugins/org.eclipse.core.resources/.history/bf/f057b84fa36200141212a8f3fb118f40
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.markers.snap
*.snap
*.index
*.resources
*.xmi
*.index
*.xmi
